body {
    margin: 0;
    padding: 0;
  }
  
  .left-aside {
    /* BEGIN  */
    float: left;
    
    /* END */
    width: 20%;
    height: 200px;
    text-align: center;
    background: #2196f3;
  }
  
  .right-aside {
    /* BEGIN  */
    float: right;
    
    /* END */
    width: 20%;
    height: 200px;
    text-align: center;
    background: #2196f3;
  }
  
  main {
    /* BEGIN  */
    float: left;
    
    /* END */
    width: 60%;
    height: 200px;
    color: #fff;
    text-align: center;
    background: #3f51b5;
  }
  
  footer {
    /* BEGIN  */
    clear: both;
    
    /* END */
    height: 120px;
    color: #fff;
    text-align: center;
    background: #00bcd4;
  }
  